body{
    font-family: 'Poppins', sans-serif;
}


.card {
    height: 400px; /* Your height here */
    overflow: hidden;
}

.card-image {
    height: 250px; /* Your height here */
    overflow: hidden;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-toggler-icon{
    color: white;
}

.navbar .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 16px!important;
    padding-right: 16px!important;
}

.navbar-toggler{
    outline: none!important;
}

.bg-black{
    background-color: black;
}

.ponne-buttin{
    color: black;
    background-color: white;
    border:none;
    font-size: 1.5rem;
}

.ponne-buttin:hover{
    color: white;
    background-color: black;
}
/* Carousel slider */
.carousel-item{
    height: 600px;
}

.carousel-image-1{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url('https://storage.googleapis.com/yoss-store-bucket/images/image-11.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.carousel-image-2{
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.4)), url('https://storage.googleapis.com/yoss-store-bucket/images/image-22.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.carousel-image-3{
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.4)), url('https://storage.googleapis.com/yoss-store-bucket/images/image-33.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.carousel-image-4{
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.4)), url('https://storage.googleapis.com/yoss-store-bucket/images/image-4.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.carousel-image-5{
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.4)), url('https://storage.googleapis.com/yoss-store-bucket/images/image-55.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.carousel-image-6{
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.4)), url('https://storage.googleapis.com/yoss-store-bucket/images/image-61.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.title-color{
    color: white;
}

.btn-color{
    background: black;
    color: white;
}

.btn-color:hover{
    color: black;
    background: white;
}

@keyframes slide-btn{
    16%{
        transform: translateY(8px);
    }
    33%{
        transform: translateY(-6px);
    }
    50%{
        transform: translateY(4px);
    }
    65%{
        transform: translateY(-2px);
    }
    85%{
        transform: translateY(1px);
    }
    100%{
        transform: translateY(0);
    }
}

.slide-btn{
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
}

.slide-btn:hover, 
.slide-btn:focus, 
.slide-btn:active{
    animation-name: slide-btn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

/* Service section */
.service-icon{
    display: inline-block;
    font-size: 32px;
    margin-bottom:16px ;
    color: black;
    padding: 8px 16px;
}
/* Service section */

   
  .dropdown-toggle::after {
     transition: transform 0.15s linear; 
  }
   
  .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }

  .dropdown-menu {
    margin-top: 0;
  }

  @import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");
/*  SAAS TEMPLATE */
button, button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.font-baloo {
  font-family: "Baloo Thambi 2", cursive;
}

.font-rale {
  font-family: "Raleway", cursive;
}

.font-rubik {
  font-family: "Rubik", cursive;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-20 {
  font-size: 20px;
}

.color-primary {
  color: #003859;
}

.color-primary-bg {
  background: #003859;
}

.color-second {
  color: #00a5c4;
}

.color-second-bg {
  background: #00a5c4;
}

.color-yellow {
  color: #ffd289;
}

.color-yellow-bg {
  background: #ffd289;
}

#top-sale .owl-carousel .item .product a {
  overflow: hidden;
}
#top-sale .owl-carousel .item .product a img {
  transition: transform 0.5s ease;
}
#top-sale .owl-carousel .item .product a img:hover {
  transform: scale(1.1);
}
#top-sale .owl-carousel .owl-nav button {
  position: absolute;
  top: 30%;
  outline: none;
}
#top-sale .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span,
#top-sale .owl-carousel .owl-nav button.owl-next span {
  font-size: 35px;
  color: #003859;
  padding: 0 1rem;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span {
  margin-left: -4rem;
}
#top-sale .owl-carousel .owl-nav button.owl-next {
  right: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-next span {
  margin-right: -4rem;
}

#special-price .grid .grid-item {
  margin-right: 1.2rem;
  margin-top: 1rem;
}

/*# sourceMappingURL=style.css.map */
